<footer style="background-color: rgb(233, 233, 233); padding-top: 20px; padding-bottom: 10px;">


    <div class="container text-center text-md-left mt-5">
        <div class="row mt-3 dark-grey-text">
            <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
                <h6 class="text-uppercase font-weight-bold">COVID FREE INDIA</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px" />
                <p class="footer-size">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus odit expedita quia fugiat aut
                    accusantium sequi magnam.
                </p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">Useful links</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px" />
                <p>
                    <a class="footer2 footer-size" href="/blogs">Services</a>
                </p>
                <p>
                    <a class="footer2 footer-size" href="/services">Services</a>
                </p>
                <p>
                    <a class="footer2 footer-size" href="/careers">Services</a>
                </p>
                <p>
                    <a class="footer2 footer-size" href="/">Services</a>
                </p>
            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">Get in touch</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px" />
                <p>
                    <a class="footer2 footer-size" href="/contactUs">Contact us</a>
                </p>
                <p>
                    <a class="footer2 footer-size" href="/get-a-quote">Contact us</a>
                </p>
                <p>
                    <a class="footer2 footer-size" href="/about">Contact us</a>
                </p>
                <p>
                    <a class="footer2 footer-size" href="/team">Contact us</a>
                </p>
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <h6 class="text-uppercase font-weight-bold">Contact</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px" />
                <p class="footer-size">
                    <i class="fas fa-home mr-3"></i> A2/24, XYZ
                </p>
                <p class="footer-size">
                    <i class="fas fa-envelope mr-3"></i> info@xyz.com
                </p>
                <p class="footer-size">
                    <i class="fas fa-phone mr-3"></i> + 91 9876543210
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="footer1 col-md-6 text-center text-md-left p-2">
                © COVID FREE INDIA 2021.
            </div>
            <div class="col-md-6 text-center text-md-right p-2">
                <a href="/files/Refund Policy AAA-tech.pdf" class="footer1 footer2" download>Refund policy</a>
                <a href="/files/PRIVACY STATEMENT AAA-tech.pdf" class="footer1 footer2" download>
                    Privacy</a>
                <a href="/files/TERMS OF SERVICE AAA-tech.pdf" class="footer1 footer2" download>
                    Terms of use
                </a>
            </div>
        </div>
    </div>
</footer>