<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- <link rel="icon" type="img/png" href="img/logo.png" sizes="256x256" /> -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
    integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" />
  <link href="https://vjs.zencdn.net/7.10.2/video-js.css" rel="stylesheet" />

  <!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
  <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
  <link rel="stylesheet" href="./css/style.css" />
  <title>Home | COVID FREE INDIA</title>
</head>

<body>
  <%- include('nav') %>

  <!--JUMBOTRON-->

  <section class="pilot">
    <div class="container-fluid">
      <center>
        <h1 class="entry-0">COVID-19</h1>
        <h1 class="entry-1">SAVE INDIA</h1>
      </center>
    </div>
    <a href="#section07"><span></span>SCROLL</a>
  </section>

  <div id="section07" style="padding-top: 80px; margin-top: -80px"></div>

  <div class="container" style="padding-top: 180px; padding-bottom: 100px;">
    <div class="row">
      <div class="col-md-6">
        <div>
          <a style="font-size: 3vw;">Register here if you want to help!</a>
          <br>
          <br>
          <br>
          <a>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor eligendi qui, ipsa sed consequuntur
            reprehenderit voluptas explicabo. Minus illum officiis eos. Temporibus necessitatibus magnam nihil omnis
            sit perspiciatis dolores, aliquid eaque tenetur eos quis modi eius qui repudiandae, et consequatur!</a>
          <br>
          <br>
          <br>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title" style="font-weight: bold; font-size: 2vw;">Register as a Donor</h5>
              <br>
              <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt, quis?</p>
              <br>
              <a href="#" class="hbtn hb-fill-on hbor2 hpad4" style="font-weight: bold;">REGISTER</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div>
          <a style="font-size: 3vw;">Register here if you need help!</a>
          <br>
          <br>
          <br>
          <a>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor eligendi qui, ipsa sed consequuntur
            reprehenderit voluptas explicabo. Minus illum officiis eos. Temporibus necessitatibus magnam nihil omnis
            sit perspiciatis dolores, aliquid eaque tenetur eos quis modi eius qui repudiandae, et consequatur!</a>
          <br>
          <br>
          <br>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title" style="font-weight: bold; font-size: 2vw;">Register as a Recepient</h5>
              <br>
              <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt, quis?</p>
              <br>
              <a href="#" class="hbtn hb-fill-on hbor2 hpad4" style="font-weight: bold;">REGISTER</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--/JUMBOTRON-->
  <div id="section07" style="height: 300px;"></div>
  <!--INTRO-->





  <%- include('footer') %>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
    integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
    crossorigin="anonymous"></script>

  <script src="/js/script.js"></script>
</body>

</html>